<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>919001224700-o99skvkirdd1tont787otdm5npcjhggo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.919001224700-o99skvkirdd1tont787otdm5npcjhggo</string>
	<key>API_KEY</key>
	<string>AIzaSyDHMLLAisdt9jT_twILOwmfrDNjnfJq_FM</string>
	<key>GCM_SENDER_ID</key>
	<string>919001224700</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testHub</string>
	<key>PROJECT_ID</key>
	<string>test-hub-2c48e</string>
	<key>STORAGE_BUCKET</key>
	<string>test-hub-2c48e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:919001224700:ios:2e11cde4eee47fd7504e79</string>
</dict>
</plist>